.sign__form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  &-row {
    background-color: var(--fill-color);
    position: relative;
  }
  &-title {
    padding: 0.5rem 0 0.6rem 1rem;
    font-size: $font-md;
    line-height: $font-md;
    color: var(--label-color);
  }
  &-input {
    all: unset;
    width: calc(100% - 1rem);
    cursor: text;
    padding-left: 1rem;
    border-radius: 0 0 4px 4px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    &:hover,
    &:focus {
      border-color: var(--link-color);
    }
  }
  &-submit {
    @extend %buttonStyle;
    padding: 1rem 0;
    margin-top: 0.8rem;
  }
  &-error {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: -2rem;
    font-size: $font-md;
    line-height: $font-md;
    & .error {
      color: var(--error-color);
    }
  }
}
